.container.hero {
    padding-bottom: clac(var(--section-padding) * 0,5);
    background-image: url(../img/hero-image-dg.jpg);
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
    min-height: 60vh;
}
        .hero {
        text-align: center;
        }

.footer > .container > .row {
    padding-top: 0%;
    padding-bottom: calc(var(--section-padding) * 1,5);
} 
        footer.container > .row.short {
            text-align: center;
            padding-top: 0;
            
        }
    


.footer.container > .row.short {
    padding-top: 50px;
}


.bg-main-color {
   background-color: (--main-color);
} 

/* footer */
footer {
    text-align: center;
    background-color: var(--main-color);
    
}