/* custom css - everything else, that was not styled with components css */

/* layout */
.container.hero {
    padding-bottom: clac(var(--section-padding) * 0,5);
    background-image: url(../img/hero-image-dg.jpg);
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
    min-height: 60vh;
}

.container > .row > .column.left {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container > .row > .column.right {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.footer > .container {
    padding-top: 0%;
    padding-bottom: calc(var(--section-padding) * 1,5);
} 
footer.container > .row.short {
    text-align: center;
    padding-top: 0;
    
}

.footer.container > .row-short {
    margin-top: var(--section-padding);
}

.bg-main-color {
    background-color: (--main-color);
} 

/* hero  */
.hero {
text-align: center;
}

.hero h1 {
    display: inline-block;
    width: 100%;
    margin-bottom: var(--hero-space);
    text-transform: uppercase;
}

.hero p {
    display: inline-block;
    width: 100%;
    margin-bottom: calc(var(--hero-space) * 3);
    font-size: 18px;
    color: var(--grey-color);
}

.hero clock {
    margin-bottom: calc(val(--hero-space) * 2);
}

.hero .form {
    width: 90%; 
    margin: 0 5% var(--hero-space);
}
.hero .form > input:not(.btn) {
    width: 100%;
    color: #fff;
    background-color: transparent;
    border-bottom-color: #fff;
}
.hero .form > imput:not(.btn)::placeholder {
    color: #fff;
}
.hero .form > .btn {
    float: none;
}

/* footer */

footer {
    text-align: center;
    line-height: 32px;
    font-size: 17px;
    color: #fffa;
    background-color: var(--main-color);
}
        footer.container > .row {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 20px;
            border-bottom: 1px solid #fff;
            position: relative;
            
        }

        footer > .row > .btn.circle {
            display: inline-block;
            width: 40px;
            padding: 10px;
            line-height: 20px;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            transition: all 0.5s;
        }

        footer .social.fa:hover {
            background-color: #fff;
            color: var(--main-color);
            
        }
        footer .btn.circle {

            position: absolute;
            top: -24px;
            right: -13px;
        }
        