.container {
    display: grid;
    grid-template-columns: 1fr 100px 300px 300px 100px 1fr;
    width: 100%;
    /* padding-top: var(--section-padding); */
    /* background-color: aqua; */

}
    .container > .row-short {
        display: inline-block;
        padding-top: var(--section-padding);
        grid-column: 3 / 5;
        width: 500px;

    }
        .container > .row {
            display: inline-block;
            grid-column: 3 / 5;
    }
        .container > .row {
            display: inline-block;
            /* width: 1000px; */
            grid-column: 2 / 6;
            margin-bottom: var(--section-padding);
        }
                .container > .row > .column {
                    display: inline-block;
                    float: left;
                }
                .container > .row > .column.left {
                    width: 50%;
                    
                }
                .container > .row > .column.right {
                    width: 40%;
                    margin-left: 10%;
                }

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr 100px 300px 300px 100px 1fr;
    }
    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 5;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 300px 300px 1fr;
    }

    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 4;
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 20px 1fr 20px;
    }
 
    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 3;
        background-color: violet;
    }

            .container > .row > .column.left {
                width: 100%;
                
            }
            .container > .row > .column.right {
                width: 100%;
                margin: 0px;
                margin-top: calc(var(--selection-padding) * 2);
                
            }

    }   
}




