.container {
    display: grid;
    grid-template-columns: 1fr 200px 300px 300px 200px 1fr;
    width: 100%;
    padding-top: var(--section-padding);
    /* background-color: aqua; */

}
    .container > .row-short {
        display: inline-block;
        width: 600px;
        padding-top: var(--section-padding);
        grid-column: 3 / 5;
        background-color: royalblue;

    }
        .container > .row {
            display: inline-block;
            width: 1000px;
            grid-column: 2 / 6;
            background-color: green
        }
                .container > .row > .column {
                    display: inline-block;
                    float: left;
                    background-color: yellow
                }
                .container > .row > .column.left {
                    width: 50%;
                    
                }
                .container > .row > .column.right {
                    width: 40%;
                    margin-left: 10%;
                    background-color: orange
                }

@media (max-width: 1100px) {
    .container {
        grid-template-columns: 1fr 100px 300px 300px 100px 1fr;
    }
    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 5;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr 300px 300px 1fr;
    }

    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 4;
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 20px 1fr 20px;
    }
 
    .container > .row-short, 
    .container > .row {
        grid-column: 2 / 3;
    }

            .conteiner > .row > .column.left {
                width: 100%; 
                grid-column: 2 / 3;
            }
            .conteiner > .row > .column.right {
                width: 100%;
                grid-column: 2 / 3;
                margin: 0px;
                margin-top: calc(var(--selection-padding) * 2);
            }
}